*{
  margin:0;
  padding:0;
}   
li{
  list-style:none;
}
a{
  font-family: 'Playfair Display', serif;
  text-decoration:none;
  color: #33343B;
}
img{
  display:block;
}
html, body, a{
  font-size:16px;
  font-family: 'Lato', sans-serif;
}
header{
  position:fixed;
  width: 100%;
  background-color: #fff;
  height: 100px;
  z-index:1;
}
header .logo{
  float:left;
  width: 150px;
  margin-left: 100px;
}
header .logo p{
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 20px;
}
.logo img{
  float:right;
  margin-top: -25px;
  margin-right: 15px;
}
header .gnb{
  width: 800px;
  margin-top: 50px;
  margin-left: 800px;
}
.gnb li{
  float:left;
}
li a{
  display: block;
  text-align: center;
  padding: 20px;
}
header .account{
  float:right;
  width: 180px;
  margin-right: 50px;
  color: #000;
  font-size: 1rem;
}
.account a{
  float:left;
  margin-top: 10px;
  padding-right: 10px;
  box-sizing:border-box;
  border: #000 2px solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.account img{
  float:right;
  margin-top: -10px;
}
#home{
  width: 100%;
  overflow:hidden;
}
#home .welcome_slider{
  height: 700px;
  background: url("../muddypaw_img/welcome.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
#home .welcome_slider .slider{
  margin-top: 300px;
}
.slider>.nvgt{
  position: absolute;
  top: 50%;
}
#prev{
  background-image: url("../muddypaw_img/previous.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  left: 5%;
}
#next{
  background-image: url("../muddypaw_img/next.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  right: 5%;
}
#i1, #i2, #i3{
  display: none;
}
.nav{
  width: 100%;
  height: 11px;
  bottom: 5%;
  position: absolute;
  text-align: center;
  z-index: 999;
}
.dots{
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: #ddd;
}

#home .welcome_slider h1{
  float:left;
  margin-top: 200px;
  margin-left:100px;
  color: #000;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}
#home .mid{
  width: 100%;
  height: 700px;
}
#home .mid .mid_left{
  float:left;
  width: 49%;
  height: 600px;
  background: url("../muddypaw_img/latest_musthaves.jpg") no-repeat center;
  background-size: cover;
  margin-top: 30px;
  position:relative;
}
#home .mid .mid_right{
  float:right;
  width: 49%;
  height: 600px;
  background: url("../muddypaw_img/best_selling.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 30px;
  position:relative;
}
#home .mid h2{
  margin-top: 30px;
  margin-left: 100px;
  color: #000;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}
#home .mid .btn-1{
  width: 220px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  background-color: #fff;
}
.btn-1 a{
  font-family: 'Roboto', serif;
  font-size: 1.3rem;
  text-align: center;
}
#home .mid .mid_left .btn-1{
  margin:0;
  position: absolute;
  left: 30%;
  top: 80%;
}
#home .mid .mid_right .btn-1{
  margin:0;
  position: absolute;
  left: 35%;
  top: 80%;
}
#home .bottom{
  width: 100%;
  height: 900px;
}
#home .bottom h2{
  margin-top: 10px;
  text-align:center;
  color: #000;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}
.bottom .boxes{
  width: 1050px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.bottom #box{
  float: left;
  width: 300px;
  height: 500px;
  margin-right: 50px;
  box-sizing: border-box;
  border: none;
}
#box .btn-2{
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  margin-top: 500px;
  margin-left: 50px;
}
.boxes .a{
  background: url("../muddypaw_img/a.jpg") no-repeat center center;
  background-size: cover;
}
.boxes .b{
  background: url("../muddypaw_img/b.jpg") no-repeat center center;
  background-size: cover;
}
.boxes .c{
  background: url("../muddypaw_img/c.jpg") no-repeat center center;
  background-size: cover;
}
.bottom .explore_all{
  width: 100%;
  margin-top: 600px;
  position:relative;
}
.explore_all .btn-3{
  position:absolute;
  left:40%;
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  text-align: center;
  width: 220px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 10px;
  background-color: #fff;
}
.btn-3 {
  transition-duration: 0.4s;
}
.btn-3:hover{
  background-color: #000;
  color: #fff;
}


footer{
  width: 100%;
  height: 240px;
  background-color: #494949;
  overflow: hidden;
}
footer>.top{
  width:100%;
}
.top>div{
  width:800px;
  padding-top:10px;
}
.top>div>.about_us{
  width:200px;
  float:left;
}
.about_us>li{
  padding-left:100px;
  font-size:1rem;
}
.about_us> li a{
  padding: 10px;
  color:#fff;
  text-align:left;
}
.top>div>.all_products{
  width:210px;
  float:left;
}
.all_products>li{
  padding-left:100px;
  font-size:1rem;
}
.all_products> li a{
  padding: 10px;
  color:#fff;
  text-align:left;
}
.top>div>.get_help{
  width:300px;
  float:left;
}
.get_help>li{
  padding-left:100px;
  font-size:1rem;
}
.get_help> li a{
  padding: 10px;
  color:#fff;
  text-align:left;
}
.top>.social_media{
  width: 300px;
  float:right;
  padding-top:20px;
  padding-right:70px;
}
#fb{
  display:inline-block;
  margin-right:10px;
}
#fb .thumb {
  width:50px;
  height:50px;
  border-radius:50%;
  background-image:url("../muddypaw_img/facebook.png");
  background-size:cover;
  background-position:center;
  margin:auto;
  margin-bottom:50px;
}
#ig{
  display:inline-block;
  margin-right:10px;
}
#ig .thumb {
  width:50px;
  height:50px;
  border-radius:50%;
  background-image:url("../muddypaw_img/instagram.png");
  background-size:cover;
  background-position:center;
  margin:auto;
  margin-bottom:50px;
}
#yt{
  display:inline-block;
  margin-right:10px;
}
#yt .thumb {
  width:50px;
  height:50px;
  border-radius:50%;
  background-image:url("../muddypaw_img/youtube.png");
  background-size:cover;
  background-position:center;
  margin:auto;
  margin-bottom:50px;
}
footer>.bottom{
  width:100%;
  height:50px;
  margin-top: 200px;
}
.bottom>p{
  text-align:center;
  color:#fff;
}