* {
  box-sizing: border-box;
}
#products{
  width: 100%;
  height:auto;
  overflow:hidden;
}
#products .top{
  margin-top:150px;
  height: 150px;
}
.top .text h2{
  float:left;
  margin-left: 100px;
  font-size: 3rem;
  font-family:"Lato", serif;
}
.top .features{
  float:right;
  margin-top: 60px;
  width: 800px;
  margin-right: -160px;
}
/* Style the search field */
.features> form.example input[type=text] {
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #E5E5E5;
  float: left;
  width: 30%;
  margin-left: 80px;
  background: #E5E5E5;
  border-radius: 30px;
  font-family: "Lato", serif;
}

/* Style the submit button */
form.example button {
  width: 5%;
  padding: 10px;
  background: #E5E5E5;
  color:#000;
  font-size: 0.8rem;
  border: 1px solid #E5E5E5;
  border-radius: 30px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-left: -40px;
}


/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #E5E5E5;
  background-image: none;
  font-family: "Lato", serif;
  font-size: 0.8rem;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.features>.select {
  position: relative;
  float: right;
  margin-right: 200px;
  margin-top: -40px;
  width: 24%;
  height: 2.5em;
  line-height: 2.5;
  background: #E5E5E5;
  overflow: hidden;
  border-radius: 4px;
}
select {
  flex: 1;
  padding: 0 8px;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px;
  background: #C4C4C4;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

#all{
  width: 100%;
  margin-top: 60px;
}
#all> .category{
  float:left;
  height:auto;
  width: 150px;
  margin-left: 100px;
}
.category >.cg{
  height: 220px;
}

/* Customize the label (the container) */
.category>.cg>.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
}
.category>.cg>h3{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Hide the browser's default checkbox */
.cg>.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cg>.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cg>.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cg>.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cg>.container .checkmark:after {
  left: 6.5px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*container of products */
#all>.container {
  margin-left: -100px;
  float:right;
  display: grid;
  grid-template-rows: 500px 500px 500px;
  grid-template-columns: 400px 400px 400px;
}
.item {
  display: block;
  margin-left: 80px;
  float:left;
}
.item>.image{
  width: 300px;
  height: 320px; 
}
.item>.text{
  display:block;
  text-align:left;
  height: 200px;
  margin-top: 20px;
}

.item1{
  background-image: url("../muddypaw_img/item1.jpg");
  background-position: center;
  background-size: cover;
}
.item2{
  background-image: url("../muddypaw_img/item2.jpg");
  background-position: center;
  background-size: cover;
}
.item3{
  background-image: url("../muddypaw_img/item3.jpg");
  background-position: center;
  background-size: cover;
}
.item4{
  background-image: url("../muddypaw_img/item4.png");
  background-position: center;
  background-size: cover;
}
.item5{
  background-image: url("../muddypaw_img/item5.png");
  background-position: center;
  background-size: cover;
}
.item6{
  background-image: url("../muddypaw_img/item6.png");
  background-position: center;
  background-size: cover;
}
.item7{
  background-image: url("../muddypaw_img/item7.png");
  background-position: center;
  background-size: cover;
}
.item8{
  background-image: url("../muddypaw_img/item8.jpg");
  background-position: center;
  background-size: cover;
}
.item9{
  background-image: url("../muddypaw_img/item9.png");
  background-position: center;
  background-size: cover;
}
.item>.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  margin-top: -10px;
}
.item>.text> h3{
  font-size: 1.38rem;
  font-weight: 200;
}
.item>.text> span{
  font-size: 1.25rem;
}
.item>.text>p{
  font-size: 1.2rem; 
  font-weight: 100;
  color: #626262;
}

.dot {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.red{
  background-color: #AA2835;
}
.purple{
  background-color:#391F2D
}
.orange{
  background-color: #CC5323;
}
.darkblue{
  background-color: #002E49;
}
.blue{
  background-color: #0F628D;
}
.brown{
  background-color: #601414;
}
