/*digital interface1*/

h3{
  font-family: freight-display-pro, serif;
  color: #ED5B27;
  margin-bottom: 50px;
}
p{
  font-size: 1.2rem;
}
#intro1 .wrapper > .row {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}
.row #mainimg{
  margin-top: 100px;
  width:100%;
  height:700px;
  background-image:url("../img_p/adidas.png");
  background-size:cover;
  background-position: top;
  margin:auto;
}
#introtext{
  width: 80%;
  height: auto;
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: left;
}
#introtext h3{
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 800;
  font-style: normal;
}
#introtext h4{
  font-size: 1.2rem;
}
#introtext .myrole {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-left: 140px;

}
.myrole .section{
  margin-top: 10px;
}
.section h4{
  color: #ED5B27;
}
.timeline {
  float:left;
  display: inline-block;
}
.team{
  float:right;
  display: inline-block;
}
.roletext{
  margin-top: 50px;
  display: inline-block;
}
#introtext .description{
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-left: 140px;

}

#demovideo {
  width: 100%;
  height: auto;
}

#demovideo .video{
  margin-left: 300px;
}

#process{
  width: 100%;
  height: auto;
}

#process h3{
  font-size: 2rem;
  margin-left: 140px;
  margin-bottom: 30px;
}
#process p{
  margin-left: 140px;
}
#process .content{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
.content .affinitydiagram{
  width: 80%;
  height: auto;
  display: inline-block;
}
.affinitydiagram .box{
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 80%;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 250px;
}
.diagram{
  background-image:url("../img_p/digitalaffinity.png");
  background-size:cover;
  background-position: center;
}
.diagramtext p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.child {
  padding: 2%; 
  overflow: hidden;
}

.child>.box{
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 58%;
  background-repeat: no-repeat;
  background-size: cover;
}


.child .sketch1{
  background-image:url("../img_p/digitalwiref1.png");
  background-size:cover;
  background-position: top;
  margin:auto;
}
.child .sketch2{
  background-image:url("../img_p/digitalwiref2.png");
  background-size:cover;
  background-position: top;
  margin:auto;
} 

.child .mid1{
  background-image:url("../img_p/digitalmid1.png");
  background-size:cover;
  background-position: top;
  margin:auto;

}
.child .mid2{
  background-image:url("../img_p/digitalmid2.png");
  background-size:cover;
  background-position: top;
  margin:auto;
} 
.motionimg{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-left: 300px;
}
.controlimg {
  width: 100%;
  height: auto;
  display: inline-block;margin-left: 300px;
}

.child .motion{
  background-image:url("../img_p/digitalmotion.png");
  background-size:cover;
  background-position: top;
  margin:auto;

}
.child .control{
  background-image:url("../img_p/Globe_trimmed.gif");
  background-size:cover;
  background-position: top;
  margin:auto;
} 

.child .final1{
  float:left;
  background-image:url("../img_p/digitalfinal1.png");
  background-size:cover;
  background-position: center;
  margin:auto;

}
.child .final2{
  float:right;
  background-image:url("../img_p/digitalfinal2.png");
  background-size:cover;
  background-position: center;
  margin:auto;
}

#final h3{
  font-size: 2rem;
  margin-left: 140px;
}

#final .finaltext p{
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}