#fun{
  width: 100%;
  height: auto;
}


#fun .title{
  font-size: 1.6rem;
  margin-left:70px;
  font-family: freight-display-pro, serif;
  font-weight:500;
  line-height:4rem;
}

#fun_1{
  background-image: url(../img_p/bluetooth\ speaker.jpeg);
  background-position: 65% 35%;
}
#fun_2{
  background-image: url(../img_p/lamp.png);
  background-position: center;
}